*{
    /* font-family: 'IM Fell English SC', serif; */
    /* font-family: 'Lobster', cursive; */
}



.header-div{
   
    background-color: rgb(79, 25, 100);

}
.header-div a{
   font-family: 'IM Fell English SC', serif;
    color: whitesmoke;
    font-size: 25px;
}
.header-img{
    width: 150px;
    height: 100px;
}