.service{
    background-color: gray;
}
.service-div{
    background: url('../../../img/background.jpg');
    background-repeat: no-repeat;
}
.service-img{
    width: 100%;
    height: 60%;
}
.desc{
    font-family: 'Lobster', cursive;
}
.name{
    color:lightcoral;
}
.para{
    color: lightblue;
}
.buy-btn{
    background-color:lightsteelblue;
    
}